@import '../../styling/media'; 



.user-name{
	font-size: 1.5rem;
	text-align: center;
	font-weight: 400;
	margin-top: 2rem;
	span{
		color: #473548;
		font-weight: 600;
	}
}

.user-container{
	display: flex;
	text-align: center;
	justify-content: space-around;
	max-width: 1200px;
	h3{
		font-size: 0.8rem;
		font-weight: 500;
		margin: 2rem 0.4rem 0rem 0.4rem;
		span{
			color: orange;
		}
	}
	h4{
		font-size: 0.8rem;
		font-weight: 500;
	}
}
.underline{
	height: 0.1rem;
	width: 70%;
	max-width: 600px;
	background: rgb(81, 81, 81);
	margin: 2rem auto;
}

.user-description{
	text-align: center;
	font-size: 0.8rem;
	margin-top: 2.5rem;
	max-width: 50ch;
	margin: 0 auto;
}

.contact{
	text-align: center;
	margin-top: 4rem;
	h1{
		font-weight: 700;
		font-size: 1.5rem;
	}
	p{
	 font-weight: 500;
	 margin-top: 1rem;	
	}
}

.rate-container{
	text-align: center;
	margin: 4rem 0rem 4rem 0rem;
	h1{
		font-weight: 500;
		font-size: 1.5rem;
	}
	p{
		color: orange;
		font-size: 2rem;
	}
}


 @include media-lg{
	.user-name{
		font-size: 3rem;
	}
	.flex-container{
		h3{
			font-size: 1.2rem;
		}
	}
	.user-description{
		font-size: 1rem;
	}
	.contact{
		h1{
			font-size: 2rem;
		}
	}
	.rate-container{
		h1{
			font-size: 1.8rem;
		}
		p{
			font-size: 2rem;
			margin-bottom: 0;
		}
	}
}




