/* Global styling */

/* Google font and icons https://fonts.google.com/icons */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

// Custom styles
@import './media';
@import './colors';
@import './typography';
@import './layout';

* {
	-webkit-appearance: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}
}

html,
body{
	position: relative;
    min-height: 100vh;
	overflow-x: hidden;
	
	// Useful for when we need
	// to lock the page scroll
	&.scroll-lock{
		overflow: hidden !important;
	}
}